# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env.py

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sqlite3
